@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");

/*
animation code stuff area below*/
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes offset-slide {
  from {
    transform: translate(-100%, 0.5vw);
    opacity: 0;
  }
  to {
    transform: translate(0.5vw, 0.5vw);
    opacity: 1;
  }
}

body {
  background-image: url("../imgs/backgrounds/geisel-base-theme.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
}

.game-title-container {
  position: relative;
  top: 30vh; /* Increased from 25vh to 30vh to account for navbar */
  max-width: 60vw;
  margin: 0 auto;
  padding: 1vmax;
  border-radius: 1vmin;
  color: white;
  text-align: center;
}

.game-title {
  font-family: "Luckiest Guy", cursive;
  animation: slide 1s;
  font-weight: 400;
  font-size: 7vw;
  color: white;
  z-index: 2;
  position: relative;
}

.instructions-header {
  text-align: center;
}
.game-title-offset {
  /*highkey shouldnt have as much repetition as the prev for style but whsatever*/
  font-family: "Luckiest Guy", cursive;
  animation: offset-slide 1s;
  font-weight: 400;
  font-size: 7vw;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.appear {
  animation: slide 1s;
}
.description {
  background-color: white;
  bottom: 10vh;
  left: 20vw;
  right: 20vw;
  padding: 10px;
  position: fixed;
  border-radius: 40px;
  border-color: black;
  border-width: 100px;
  animation: bounce 2s ease-in-out infinite;
}

.description-backdrop {
  position: absolute;
  z-index: -1;
}

.instructions {
  font-family: "Coming Soon";
  color: black;
  text-align: center;
}

.instructions-header {
  font-family: "Luckiest Guy", cursive;
  font-size: 200%;
}
